.Hook-Card {
  cursor: pointer;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.3);
  font-family: "Fira Code", monospace;
  width: 200px;
  height: 125px;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-self: center;
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: 5px;
}

@media (min-width: 498px) {
  .Hook-Card {
    margin-bottom: 2rem;
  }
}

@media (min-width: 768px) {
  .Hook-Card {
    margin-bottom: 3rem;
  }
}

@media (min-width: 1024px) {
  .Hook-Card {
    margin-bottom: 4rem;
  }
}

@media (min-width: 1280px) {
  .Hook-Card {
    width: 250px;
    height: 150px;
  }
}
