.Slide-Wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  height: 80%;
  overflow-y: auto;
  border-radius: 2rem;
  box-shadow: 0rem 1rem 2rem rgba(0, 0, 0, 0.3);
  background: #ffffff;
}

.Slide {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 3rem;
  font-family: "Fira Code", monospace;
}

.Slide-Syntax,
.Slide-Example {
  display: flex;
  flex-direction: row;
  align-items: center;

  h4 {
    margin-right: 0.5rem;
  }
}
